.qr-code {
  display: block;
  margin: 0 auto;
}

.upi-id {
  text-align: center;
}


.contact-card{
    transition: all 0.3s ease;
}

.contact-card:hover{
    background-color: #2a1d1a; /* hover color */
    border-color: #d88b75;     /* optional border color */
    transform: translateY(-5px); /* optional lift effect */
}