.music-grid {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.release-card{
    transition: all 0.3s ease;
}

.release-card:hover{
    background-color: #2a1d1a; /* hover color */
    border-color: #d88b75;     /* optional border color */
    transform: translateY(-5px); /* optional lift effect */
}

